.header {
  width: 100%;
  height: 100vh;
  background-color: #23263a;
}

.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.header__ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}

.header__ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}

.header__ul li:hover {
  background: #fff;
  border: 2px solid transparent;
}

.header__ul li:hover .headerIcon {
  color: #ff4a57;
}

.header__ul li:first-child {
  margin-left: 0;
}

.header__section h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__section p {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}

.btn {
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s linear;
}

.btn-outline {
  border: 2px solid #ff4a57;
  border-radius: 50px;
  padding: 13px 40px;
  margin-left: 15px;
}

.btn-outline:hover {
  background: #fff;
  border: 2px solid transparent;
  color: #ff4a57;
}

.banner__img {
  padding: 0 30px;
  margin-top: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .banner__img {
    animation: banner__img_spin infinite 20s linear;
  }
}

@keyframes banner__img_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
