.main {
  background: #23263a;
  padding: 100px 0;
  color: #fff;
}

.mern {
  background: #1f2235;
  padding: 25px;
  border-radius: 8px;
  margin: 35px 20px;
  color: #fff;
  text-align: center;
}

.mernHeading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.mern ul {
  list-style-type: none;
}

.mern ul li {
  margin: 5px 0;
  border-bottom: 1px solid #3c3c3c;
  font-size: 14px;
  padding: 15px 0;
}

.mern__btn {
  margin-top: 40px;
}

.mern__img {
  object-fit: contain;
  width: 200px;
  margin-top: 15px;
  cursor: pointer;
  transition: transform 450ms;
}

.mern__img:hover {
  transform: scale(1.08);
  opacity: 0.9;
}
